.wrap {
  padding: 0 0.58rem;
}
h1 {
  font-weight: normal;
  height: 1.09rem;
  line-height: 1.09rem;
  color: #666;
  font-size: 0.42rem;
}
.corpBg img {
  display: block;
  width: 8.9rem;
  height: 5.25rem;
}
.introduction h2 {
  height: 1.04rem;
  line-height: 1.04rem;
  font-size: 0.37rem;
  font-weight: normal;
  color: #666666;
}
.introduction p {
  text-indent: 2em;
  line-height: 0.5rem;
  font-size: 0.32rem;
  color: #666666;
}
.other {
  line-height: 0.66rem;
  padding: 0.8rem 0;
}
.other p {
  font-size: 0.32rem;
  color: #666666;
}
