html {
  background: #f2f2f2;
}
.header {
  position: relative;
  width: 100%;
  height: 4.66rem;
  background: url(../images/centerBg.png) no-repeat;
  background-size: 100% 100%;
}
.header span.setBtn {
  position: absolute;
  right: 0.29rem;
  top: 0.29rem;
  width: 0.64rem;
  height: 0.64rem;
  background: url(../images/icon/setting.png) no-repeat;
  background-size: 100% 100%;
}
.header .logo {
  padding-top: 0.56rem;
}
.header .logo a {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
}
.header .logo a img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 0.05rem solid #fff;
}
.header .logo span {
  display: block;
  width: 100%;
  height: 1.33rem;
  line-height: 1.33rem;
  text-align: center;
  color: #fff;
  font-size: 0.48rem;
}
.packet {
  width: 100%;
  height: 1.73rem;
  background: #fff;
}
.packet .money {
  position: relative;
  width: 3.67rem;
  height: 100%;
  padding-left: 0.8rem;
}
.packet .money div {
  height: 0.67rem;
  line-height: 0.67rem;
  padding: 0.53rem 0 0.53rem 0.77rem;
  background: url(../images/icon/packet.png) left center no-repeat;
  background-size: 0.58rem 0.58rem;
  color: #999;
}
.packet .value {
  width: 3.54rem;
  height: 100%;
  padding-right: 0.8rem;
}
.packet .value div {
  height: 0.67rem;
  line-height: 0.67rem;
  padding: 0.56rem 0 0.56rem 0.84rem;
  color: #666;
  text-align: right;
}
.fun {
  background: #fff;
}
.fun h2 {
  padding-left: 0.4rem;
  height: 0.93rem;
  line-height: 0.93rem;
  color: #999;
  font-size: 0.34rem;
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.fun .fn-list {
  border-bottom: 1px solid #ccc;
}
.fun .fn-list li {
  width: 3.3rem;
  height: 2.26rem;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.fun .fn-list li a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0.58rem auto 0.26rem;
  padding-top: 1.04rem;
  text-align: center;
  color: #999;
}
.fun .fn-list li:nth-of-type(1) a {
  background: url(../images/icon/table.png) center top no-repeat;
  background-size: 0.64rem 0.53rem;
}
.fun .fn-list li:nth-of-type(2) a {
  background: url(../images/icon/getTicket.png) center top no-repeat;
  background-size: 0.58rem 0.58rem;
}
.fun .fn-list li:nth-of-type(3) {
  border-right: none;
}
.fun .fn-list li:nth-of-type(3) a {
  background: url(../images/icon/nearby.png) center top no-repeat;
  background-size: 0.61rem 0.56rem;
}
.fun .fn-list li:nth-of-type(4) {
  border-bottom: none;
}
.fun .fn-list li:nth-of-type(4) a {
  background: url(../images/icon/me.png) center top no-repeat;
  background-size: 0.64rem 0.58rem;
}
