html {
  background: #f2f2f2;
}
.wrap {
  background: #fff;
}
div:not(.wrap) {
  padding: 0 0.36rem;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
label {
  width: 3rem;
  color: #333;
  font-size: 0.48rem;
  line-height: 1.54rem;
}
input {
  width: 6rem;
  font-size: 0.42rem;
  color: #ccc;
  line-height: 1.54rem;
  border: none;
}
div.footer {
  border: none;
}
.footer input {
  display: block;
  margin: 0.93rem auto 0;
  width: 6rem;
  height: 1.33rem;
  line-height: 1.33rem;
  background: #cc0000;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
  border-radius: 0.21rem;
}
